<h1>Editing footballer</h1>

<%= render "form", footballer: @footballer %>

<br>

<div>
  <%= link_to "Show this footballer", @footballer %> |
  <%= link_to "Back to footballers", footballers_path %>
</div>
